@media screen and (max-width: 770px){
    ul li{
        display: none;
    }
    /* hamburger menu */
.hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    left: 50px;
}
.hamburger span{
    height: 3px;
    width: 25px;
    background-color: #111111;
    margin-bottom: 4px;
}

.hamburger:hover span{
    background-color: #38B000;
    transform: scaleX(1.2);
}
.logo-flag{
    display: none;
}

.sm-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    background-color: #f8f8f8;
    margin: auto;
}
}
/* navigation css*/
a{
   text-decoration: none;
   color: black;
   font-weight: bolder;
}
a:active{
    color: #ffca42;
}
a:hover{
    cursor: pointer;
    color: #38B000;
}
li{
    margin-inline: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#learnMoreBtn:hover{
    box-shadow: 0px 0px 3px 10px #FFD100;
}
 
/* About us main content page CSS*/

#aboutus-main-content{
     background-image: none;
     background-repeat: no-repeat;
     background-position: fixed;
     background-size: fit;
     
}
.intro-article{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content: baseline;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 2px #494848b8;
    background-color: rgba(219, 219, 219, 0.166);
    
}
.para{
    width: 50%;
    color: #070707;
    line-height: 1.5;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
}
.headings{
    text-align: center;
    margin: auto;
    padding: 20px;
    font-weight: 2vw;
    color: hwb(0 0% 100%);
    font-family: 'Poppins', sans-serif;
    text-decoration: underline 5px #38B000;
}
section{
    
}
/* Animation */

#animate{
    animation: change-color 3s infinite;
    font-size: 4vw;


}
@keyframes change-color {
    20% {  color: red; }
    50% {  color: gold; }
    80% { color: green; }
}

